gevent==1.1.0
leveldb
click
wheel
rlp>=0.4.4
devp2p>=0.8.0
git+https://github.com/ethereum/pyethereum.git@cba5954a43a2db4df7504d9ced70c63530247e77
web3>=3.8.0
pytest==3.4.0
git+https://github.com/ethereum/vyper.git@v0.0.4
